@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url('../fonts/Proxima400.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 100;
  src: url('../fonts/Proxima100.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url('../fonts/Proxima300.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: url('../fonts/Proxima600.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url('../fonts/Proxima700.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 800;
  src: url('../fonts/Proxima800.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 900;
  src: url('../fonts/Proxima900.otf');
}

body {
  background-color: #f8f8f8;
  color: #000000;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.i-header {
  display: block;
  padding: 25px 0;
  background-color: #ffffff;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    img {
      display: block;
      max-width: 100%;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 12px 17px;
        color: #262626;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
  &__number {
    display: inline-block;
    color: #262626;
    font-size: 15px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #9a9a9a;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #262626;
      text-decoration: none;
    }
  }
}

.i-services {
  display: block;
  padding: 60px 0 70px 0;
  background-color: #f8f8f8;
  &__title {
    display: block;
    margin-bottom: 25px;
    color: #262626;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.25;
  }
  &__text {
    display: block;
    margin-bottom: 50px;
    color: #262626;
    font-size: 20px;
    line-height: 1.6;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 240px;
    margin-bottom: 30px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0px 0px 44.2px rgba(0, 0, 0, 0.08);
      text-decoration: none;
      .i-services__card-content {
        background: rgba(255, 255, 255, 0.9);
      }
      .i-services__card-text {
        display: block;
      }
      .i-services__card-title {
        padding: 0;
        background: transparent;
        text-decoration: underline;
      }
    }
    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      padding: 16px 20px;
      transition: all 0.15s ease-out;
    }
    &-title {
      display: inline-block;
      padding: 12px;
      background-color: #ffffff;
      color: #262626;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.25;
      transition: all 0.15s ease-out;
    }
    &-text {
      display: none;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #262626;
      transition: all 0.15s ease-out;
    }
  }
  &__button {
    display: block;
    width: 100%;
    max-width: 260px;
    margin: 30px auto 0 auto;
    padding: 17px;
    border: 0;
    outline: 0;
    border: 1px solid rgba(51, 51, 51, 0.3);
    background: transparent;
    color: #262626;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #262626;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 30px auto;
    line-height: 18px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2.6px;
    text-transform: uppercase;
    color: #262626;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
    svg,
    img {
      display: inline-block;
      max-width: 100%;
      margin-left: 10px;
    }
  }
}

.i-big {
  display: block;
  position: relative;
  padding: 75px 0 100px 0;
  background-color: #ffffff;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 85px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f8f8f8;
  }
  &__title {
    display: block;
    margin-bottom: 50px;
    color: #262626;
    font-size: 36px;
    font-weight: 400;
  }
}

.i-profit {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 100px;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 320px;
    margin-bottom: 30px;
    &-image {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 50px;
      height: 50px;
      margin-bottom: 24px;
      img {
        display: block;
        max-width: 100%;
      }
    }
    &-title {
      display: block;
      margin-bottom: 18px;
      color: #16b0ae;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 2.6px;
    }
    &-text {
      display: block;
      max-width: 290px;
      margin: 0;
      color: #262626;
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

.i-cases {
  display: block;
  .slick-prev {
    display: block;
    width: 38px;
    height: 12px;
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    background: url('../images/icon_prev.svg') no-repeat center;
    background-size: contain;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 10;
  }
  .slick-next {
    display: block;
    width: 38px;
    height: 12px;
    top: auto;
    bottom: 0;
    right: auto;
    left: 60px;
    background: url('../images/icon_next.svg') no-repeat center;
    background-size: contain;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 10;
  }
  &__card {
    display: block;
    padding-right: 10px;
    &-title {
      display: block;
      margin-bottom: 20px;
      color: #1c1c1c;
      font-size: 30px;
      line-height: 1.47;
    }
    img {
      display: block;
      max-width: 100%;
    }
    &-text {
      display: block;
      margin-bottom: 20px;
      color: #1c1c1c;
      font-size: 16px;
      line-height: 1.38;
    }
    &-link {
      display: block;
      color: #00bcbc;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.item {
  outline: 0;
}

.i-form {
  display: block;
  padding: 100px 0;
  background: url('../images/form_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
  &__text {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
  }
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
     ::-webkit-input-placeholder {
      color: #ffffff;
    }
     ::-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #ffffff;
    }
    input {
      display: inline-block;
      width: 100%;
      max-width: 237px;
      padding: 18px 22px;
      border: 0;
      outline: 0;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: rgba(0, 0, 0, 0);
      color: #ffffff;
      font-size: 16px;
    }
    button {
      display: inline-block;
      width: 100%;
      max-width: 237px;
      padding: 19px 22px;
      border: 0;
      outline: 0;
      border: 1px solid #ffffff;
      background-color: rgba(255, 255, 255, 0.45);
      color: #ffffff;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 2.6px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #ffffff;
        color: #262626;
        text-decoration: none;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.i-seo {
  display: block;
  padding: 100px 0 50px 0;
  background: #f8f8f8;
  color: #262626;
  font-size: 16px;
  &__content {
    display: block;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
  }
  &__title {
    display: block;
    margin-bottom: 18px;
    color: #1c1c1c;
    font-size: 36px;
  }
  p {
    display: block;
    margin-bottom: 25px;
    color: #262626;
    font-size: 16px;
    line-height: 1.6;
  }
}

.i-bottom {
  display: block;
  background-color: #191919;
  &__block {
    display: block;
    padding: 100px 0;
  }
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 36px;
    line-height: 1.22;
  }
  &__phone {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #16b0ae;
      text-decoration: none;
    }
  }
  &__email {
    display: inline-block;
    margin-bottom: 38px;
    border-bottom: 1px solid #153131;
    color: #16b0ae;
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #16b0ae;
      text-decoration: none;
    }
  }
  &__copyrights {
    display: block;
    margin-bottom: 0px;
  }
  &__map {
    display: block;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
  }
  p {
    display: block;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
  }
  &_flex {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 120px;
  }
}

.i-service {
  display: block;
  position: relative;
  background: #f8f8f8;
  &>.container {
    position: relative;
    padding: 40px 0 330px 0;
  }
  &__back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 60px;
    opacity: 0.5;
    font-weight: 700;
    img {
      display: inline-block;
      margin-right: 15px;
    }
    span {
      display: inline-block;
      color: #252525;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      text-decoration: none;
    }
  }
  &__title {
    display: block;
    margin: 0;
    color: #262626;
    font-size: 48px;
    line-height: 1.25;
  }
  &__big {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 960px;
    height: 450px;
    margin-bottom: -165px;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }
}

.i-bigger {
  display: block;
  position: relative;
  padding: 200px 0 60px;
  background-color: #ffffff;
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 85px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #f8f8f8;
  }
  &__sub-title {
    display: block;
    margin-bottom: 24px;
    color: #262626;
    font-size: 36px;
  }
  ul {
    display: block;
    width: 100%;
    max-width: 520px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 20px;
      padding-left: 25px;
      background: url('../images/icon_li.png') no-repeat left 10px;
      color: #262626;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.i-companies {
  display: block;
  margin: 10px 0 70px 0;
  padding-right: 150px;
  .slick-prev {
    display: block;
    width: 38px;
    height: 12px;
    bottom: auto;
    top: 50%;
    left: auto;
    right: 60px;
    margin-top: -6px;
    background: url('../images/icon_prev.svg') no-repeat center;
    background-size: contain;
    opacity: 0.3;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 10;
  }
  .slick-next {
    display: block;
    width: 38px;
    height: 12px;
    bottom: auto;
    top: 50%;
    left: auto;
    right: 0px;
    margin-top: -6px;
    background: url('../images/icon_next.svg') no-repeat center;
    background-size: contain;
    opacity: 0.3;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 10;
  }
  &__card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 90px;
    opacity: 0.7;
    filter: grayscale(100%);
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      filter: grayscale(0%);
      text-decoration: none;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
}

.i-texts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 830px;
  margin: 60px 0;
  color: #262626;
  font-size: 16px;
  line-height: 1.6;
  p {
    display: inline-block;
    width: 100%;
    max-width: 390px;
    color: #262626;
    font-size: 16px;
    line-height: 1.6;
  }
}

.i-black {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 410px;
  min-height: 410px;
  margin-bottom: 10px;
  padding: 44px 34px 40px 40px;
  background-color: #191919;
  color: #ffffff;
  &__title {
    display: block;
    margin-bottom: 18px;
    color: #ffffff;
    font-size: 24px;
    line-height: 1.33;
  }
  &__text {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.38;
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    img {
      filter: invert(100%);
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.i-green {
  display: block;
  position: relative;
  padding: 65px 0 0 0;
  background-color: #00bcbc;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 85px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f8f8f8;
  }
  .i-big__title {
    color: #ffffff !important;
  }
  .i-profit__card-title {
    color: #ffffff !important;
  }
  .i-profit__card-text {
    color: #ffffff !important;
  }
  .i-profit__card-image {
    filter: invert(100%) brightness(10);
  }
  &_darked {
    background-color: #181818 !important;
    .i-profit__card-title {
      color: #16b0ae !important;
    }
  }
}

.i-how {
  display: block;
  padding: 90px 0 0 0;
  background: #f8f8f8;
  &__title {
    display: block;
    margin-bottom: 65px;
    color: #1c1c1c;
    font-size: 36px;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 275px;
    margin-bottom: 90px;
    margin-right: 45px;
    &:after {
      display: block;
      position: absolute;
      content: '';
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &:nth-child(1) {
      &:after {
        width: 49px;
        height: 15px;
        right: 45px;
        top: 45px;
        background-image: url('../images/steps_1_after.png');
      }
    }
    &:nth-child(2) {
      &:after {
        width: 49px;
        height: 15px;
        right: 45px;
        top: 45px;
        background-image: url('../images/steps_2_after.png');
      }
    }
    &:nth-child(4) {
      &:after {
        width: 49px;
        height: 15px;
        right: 45px;
        top: 45px;
        background-image: url('../images/steps_5_after.png');
      }
    }
    &:nth-child(5) {
      &:after {
        width: 50px;
        height: 56px;
        left: 100%;
        bottom: 100%;
        margin-bottom: -60px;
        background-image: url('../images/steps_3_after.png');
      }
    }
    &-image {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      height: 70px;
      margin-bottom: 26px;
      img {
        display: block;
        max-width: 100%;
      }
    }
    &-number {
      display: block;
      margin-bottom: 10px;
      color: #00bcbc;
      font-size: 13px;
      letter-spacing: 1.5px;
    }
    &-text {
      display: block;
      margin: 0;
      color: #1c1c1c;
      font-size: 16px;
      line-height: 1.38;
    }
  }
}

.i-feedback {
  display: block;
  position: relative;
  padding: 75px 0 100px 0;
  background-color: #191919;
  color: #ffffff;
  .slick-prev {
    display: block;
    width: 38px;
    height: 12px;
    bottom: auto;
    top: 50%;
    right: auto;
    left: 0;
    margin-top: -6px;
    margin-left: -100px;
    background: url('../images/icon_prev.svg') no-repeat center;
    background-size: contain;
    filter: invert(100%) brightness(10);
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 10;
  }
  .slick-next {
    display: block;
    width: 38px;
    height: 12px;
    bottom: auto;
    top: 50%;
    left: auto;
    right: 0;
    margin-top: -6px;
    margin-right: -100px;
    background: url('../images/icon_next.svg') no-repeat center;
    background-size: contain;
    filter: invert(100%) brightness(10);
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 10;
  }
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 85px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #f8f8f8;
  }
  &>.container {
    position: relative;
  }
  &__title {
    display: block;
    margin-bottom: 38px;
    color: #ffffff;
    font-size: 36px;
  }
  &__content {
    display: block;
    width: 100%;
    max-width: 625px;
    margin: 0 auto;
  }
  &__cards {
    display: block;
  }
  &__card {
    display: block;
    &-text {
      display: block;
      margin-bottom: 10px;
      color: #ffffff;
      font-size: 16px;
      line-height: 1.38;
    }
    &-author {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #ffffff;
      font-size: 16px;
      line-height: 1.38;
      img {
        display: inline-block;
        max-width: 100%;
        margin-right: 20px;
      }
      span {
        color: #ffffff;
        font-size: 16px;
        line-height: 1.38;
      }
    }
  }
}

.i-about {
  display: block;
  padding: 140px 0 55px 0;
  background-color: #ffffff;
  &__title {
    display: block;
    margin-bottom: 38px;
    color: #262626;
    font-size: 48px;
    line-height: 1.25;
  }
  &__text {
    display: block;
    margin: 0;
    color: #262626;
    font-size: 20px;
    line-height: 1.4;
  }
  &__big {
    display: block;
    position: relative;
    width: calc(100% - ((100% - 960px)/2));
    height: 600px;
    margin-left: calc((100% - 960px)/2);
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: calc(100% - 960px);
      height: 190px;
      right: 100%;
      top: 0;
      background: #ffffff;
    }
  }
  &__article {
    display: block;
    padding: 80px 100px 60px 110px;
    background-color: #f9f9f9;
    p {
      display: block;
      margin-bottom: 20px;
      color: #262626;
      font-size: 16px;
      line-height: 1.6;
    }
  }
  &__spec {
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 50px;
    color: #262626;
    font-size: 20px;
    line-height: 1.4;
  }
}

.i-contacts {
  display: block;
  padding: 140px 0 120px;
  background-color: #ffffff;
  &__title {
    display: block;
    margin-bottom: 70px;
    color: #262626;
    font-size: 48px;
    line-height: 1.25;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    &-title {
      display: block;
      margin-bottom: 22px;
      opacity: 0.5;
      color: #333333;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    &-phone {
      display: block;
      margin-bottom: 4px;
      color: #333333;
      font-size: 24px;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #16b0ae;
        text-decoration: none;
      }
    }
    &-email {
      display: inline-block;
      margin-bottom: 2px;
      border-bottom: 1px solid #b2eaea;
      color: #16b0ae;
      font-size: 24px;
      line-height: 1.3;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #16b0ae;
        text-decoration: none;
      }
    }
    &-text {
      display: block;
      margin-bottom: 10px;
      color: #333333;
      font-size: 24px;
      line-height: 1.33;
    }
    p {
      display: block;
      margin-bottom: 10px;
      color: #333333;
      font-size: 24px;
      line-height: 1.33;
    }
  }
  &__map {
    display: block;
    position: relative;
    iframe {
      display: block;
      width: 100%;
      height: 100%;
      filter: grayscale(100%);
    }
    width: calc(100% - ((100% - 960px)/2));
    height: 600px;
    margin-right: calc((100% - 960px)/2);
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: calc(100% - 960px);
      height: 140px;
      left: 100%;
      top: 0;
      background: #ffffff;
    }
  }
}

.i-application {
  display: block;
  padding: 85px 0 120px 0;
  background-color: #ffffff;
  &__title {
    display: block;
    margin-bottom: 8px;
    color: #1c1c1c;
    font-size: 36px;
    line-height: 1.2;
  }
  &__text {
    display: block;
    margin-bottom: 48px;
    color: #1c1c1c;
    font-size: 16px;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__accept {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    padding-left: 32px;
    background: url('../images/icon_checked.svg') no-repeat left top;
    color: #1c1c1c;
    font-size: 13px;
  }
  &__button {
    display: inline-block;
    padding: 18px 36px;
    background-color: #00bcbc;
    border: 0;
    outline: 0;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    &>div:first-child {
      display: inline-block;
      width: 100%;
      max-width: 350px;
    }
    &>div:last-child {
      display: inline-block;
      width: 100%;
      max-width: 570px;
    }
    input {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 18px 20px;
      border: 0;
      outline: 0;
      background-color: #f5f5f5;
      color: #1c1c1c;
      font-size: 16px;
    }
    textarea {
      display: block;
      width: 100%;
      height: 204px;
      margin-bottom: 30px;
      padding: 18px 20px;
      border: 0;
      outline: 0;
      background-color: #f5f5f5;
      color: #1c1c1c;
      font-size: 16px;
    }
  }
}

.i-projects {
  display: block;
  padding: 60px 0 70px 0;
  background-color: #f8f8f8;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 240px;
    margin-bottom: 30px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      .i-projects__card-content {
        opacity: 0;
      }
    }
    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      padding: 16px 20px;
      background: rgba(255, 255, 255, 0.7);
      transition: all 0.15s ease-out;
    }
    &-title {
      display: block;
      color: #262626;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.25;
      transition: all 0.15s ease-out;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0 0 10px 0;
  color: #1C1C1C;
  line-height: 1.2;
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

.i-case {
  display: block;
  padding: 5px 0 60px 0;
  &__preview {
    display: block;
    &-title {
      display: block;
      margin-bottom: 27px;
      font-size: 36px;
      color: #1C1C1C;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 40px auto;
  }
  p {
    display: block;
    max-width: 760px;
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #262626;
  }
  ul {
    display: block;
    margin: 30px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      padding-left: 40px;
      padding-bottom: 6px;
      background: url('../images/icon_ul.svg') no-repeat left top;
      margin-bottom: 17px;
      font-size: 16px;
      color: #262626;
    }
  }
}

.i-switch {
  display: flex;
  &__prev {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    min-height: 365px;
    padding: 20px 85px 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__next {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    min-height: 365px;
    padding: 20px 20px 20px 85px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    color: #FFFFFF;
    img,
    svg {
      display: inline-block;
      margin: 5px 30px;
    }
  }
}

.i-nav {
  display: none;
  width: 23px;
  margin-left: 10px;
}

.h-hide-mob {
  display: block !important;
}

.h-show-mob {
  display: none !important;
}

.i-mob-wrapper {
  display: inline-block;
}