@media (max-width: 1399px) {}

@media (max-width: 1199px) {
  .i-header>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .i-header__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
  }
  .i-header {
    padding: 20px 0;
  }
  .i-services {
    padding: 30px 0;
  }
  .i-services__title {
    margin-bottom: 15px !important;
    font-size: 32px;
  }
  .i-services__text {
    margin-bottom: 20px;
  }
  .i-services__cards {
    justify-content: space-around;
  }
  .i-big:before {
    display: none;
  }
  .i-big {
    padding: 30px 0;
  }
  .i-big__title {
    margin-bottom: 15px;
    font-size: 32px;
  }
  .i-profit {
    justify-content: space-around;
    padding: 0;
  }
  .i-profit__card {
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
  }
  .i-cases__card-link {
    margin-bottom: 20px;
  }
  .i-form {
    padding: 40px 0;
  }
  .i-form form {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .i-form form input {
    margin-bottom: 4px;
  }
  .i-seo {
    padding: 30px 0 10px 0;
  }
  .i-seo__title {
    font-size: 32px;
  }
  .i-bottom_flex {
    justify-content: center;
    padding: 0 15px;
  }
  .i-bottom__block {
    padding: 30px 0;
  }
  .i-bottom__map {
    display: block;
    height: 300px;
  }
  .i-service__big {
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px auto;
  }
  .i-service>.container {
    padding: 30px 15px;
  }
  .i-service__back {
    margin-bottom: 20px;
  }
  .i-service__title {
    font-size: 32px;
  }
  .i-bigger {
    padding: 10px 0 30px 0;
    &:after {
      display: none;
    }
  }
  .i-companies {
    margin-bottom: 20px;
    padding: 0;
    &__card {
      margin: 0 auto;
    }
  }
  .i-texts {
    margin: 0;
    padding: 10px 0 30px 0;
  }
  .i-green {
    padding: 30px 0;
    &:before {
      display: none;
    }
  }
  .i-feedback {
    padding: 30px 0;
  }
  .i-how {
    padding: 30px 0 10px 0;
  }
  .i-how__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .i-how__cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .i-how__card {
    margin-bottom: 40px;
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 3;
    }
    &:nth-child(4) {
      order: 5;
    }
    &:nth-child(5) {
      order: 4;
    }
    &-number {
      font-size: 32px;
      font-weight: 500;
    }
    &:after {
      display: none;
    }
  }
  .i-feedback {
    &:after {
      display: none;
    }
    .slick-prev {
      bottom: auto;
      top: 100%;
      right: auto;
      left: 0;
      margin: 0;
      margin-top: 10px;
    }
    .slick-next {
      bottom: auto;
      top: 100%;
      right: auto;
      left: 60px;
      margin: 0;
      margin-top: 10px;
    }
  }
  .i-contacts {
    padding: 30px 0;
    &__title {
      margin-bottom: 20px;
      font-size: 32px;
    }
  }
  .i-contacts__cards {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .i-contacts__card {
    width: 100%;
    margin-bottom: 20px;
  }
  .i-contacts__card-title {
    margin-bottom: 10px;
  }
  .i-contacts__map {
    width: 100%;
    height: 300px;
    margin: 0;
    &:after {
      display: none;
    }
  }
  .i-application {
    padding: 30px 0;
    &__title {
      margin-bottom: 20px;
      font-size: 32px;
    }
  }
  .i-application__button {
    margin: 20px 0;
  }
  .i-about {
    padding: 30px 0;
    &__title {
      margin-bottom: 20px;
      font-size: 32px;
    }
  }
  .i-about__big {
    width: 100%;
    height: 300px;
    margin: 0;
    &:after {
      display: none;
    }
  }
  .i-about__article {
    padding: 30px 0;
  }
  .i-projects__cards {
    justify-content: space-around;
  }
  .i-services__more {
    margin: 20px 0;
  }
  .i-case {
    padding: 5px 0 20px 0;
  }
  .i-case img {
    margin-bottom: 25px;
  }
  .i-switch {
    flex-flow: column nowrap;
    &__prev {
      align-items: center;
      width: 100%;
      min-height: 60px;
      padding: 20px 15px;
    }
    &__next {
      align-items: center;
      width: 100%;
      min-height: 60px;
      padding: 20px 15px;
    }
    &__content {
      font-size: 24px;
      svg,
      img {
        max-width: 40px;
        margin: 4px 12px;
      }
    }
  }
  .i-mob-wrapper {
    display: none;
  }
  .i-header__nav {
    display: block;
  }
  .i-header__nav li {
    display: block;
    a {
      display: block;
    }
  }
  .i-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 6px;
  }
  .i-nav {
    display: inline-block;
  }
  .i-services__card {
    max-width: 100%;
  }
  .i-form form input {
    max-width: 100%;
  }
  .i-form form button {
    max-width: 100%;
  }
  .i-bottom_flex {
    justify-content: flex-start;
  }
  .i-application form>div:first-child {
    max-width: 100%;
  }
  .i-projects__card {
    max-width: 100%;
  }
  .i-how__card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    &-image {
      display: inline-flex;
      align-items: flex-start;
      width: 70px;
      margin: 0;
    }
    &-number {
      margin-bottom: 2px;
      font-size: 16px;
      font-weight: 700;
    }
    span {
    }
  }
  .h-show-mob {
    display: block !important;
  }
  .h-hide-mob {
    display: none !important;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (min-width: 1199px) {
  .container {
    max-width: 990px;
  }
}